body{background-color: cadetblue;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{text-align: center;
color: coral;
font-size: 30px;
padding: 10px;}

nav{float: left;
width: 30%;

padding: 20px;


}
nav ul{display: flex;
    list-style: none;
}
nav ul li a{text-decoration: none;
    padding: 20px;
    font-size: 30px;
    padding-left: 5px;
}



article{ float: right;
    padding: 20px;
    width: 70%;
    
    width: 70%;
   
}

